<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
  <div class='card-body'>
    <div class="row">
        <!-- #filterCriteria    -->
      <app-criteria [displayDetails]="includeDetails" [hitCount]="filteredProducts?.length"  (valueChange) = "onValueChange($event)" 
             class="col-md-12"></app-criteria>      
    </div>    
   
    <div class='table-responsive'>
      <table class='table' *ngIf='products?.length'>
        <thead>
          <tr>
            <th>
              <button style="width:113px" class='btn btn-primary' (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Description</th>
            <th>Category</th>
            <th>Available</th>
            <th>Price</th>
            <th>Rating</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let product of filteredProducts'>
            <td>
              <img *ngIf="ShowImage && product.imageUrl" src='assets/product_images/{{product.imageUrl}}' [title]='product.productName' [style.width.px]='imageWidth'
                [style.margin.px]='imageMargin'>
            </td>
            <td>
              <a [routerLink]="['/products', product.productId]">
                <!-- [queryParams]="{ filterBy: listFilter ,showImage : showImage }" -->
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode }}</td>
            <!-- <td>{{ product.releaseDate }}</td>
            <td>{{ product.lastUpdated }}</td> -->
            <td>{{ product.description }}</td>

            <td>{{ product.categoryName }}</td>
            <td style="font-weight:bold">{{ product.available ? 'Available' : 'Not Available' }}</td>
            <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
            <td>
              <!-- {{product.starRating}} -->
              <app-star [rating]='product.starRating' (ratingClicked)='onRatingClicked($event)'>
              </app-star>
            </td>
            <td>
              <!-- (click)="edit(product.productId)" -->
              <button class="btn btn-outline-secondary" [routerLink]="['/products',product.productId,'edit']">Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
